/*
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat Regular.ttf");
}

@font-face {
    font-family: "Montserrat bold";
    src: url("fonts/MotserratBold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
}
*/
*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:black;
}

button {
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
/*
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100%;
    margin: 0px auto;
    background: url("img/header.png") no-repeat;
}*/

.main,
.footer {
    max-width: 940px;
    margin: 0px auto;
}

.wrapper__footer {
    max-width: 100%;
    border-top: 5px solid #ff4e50;
}

.header{
    max-width: 1440px;
    height: 700px;
    margin: 0 auto;
    background: url("img/header.png") no-repeat;  
}

.header__content {
    max-width: 940px;
    margin: 0 auto;
}

.header__upper-part {
    display: flex;
    justify-content: space-between;
    padding-top:38px;
    margin-bottom: 150px;
}

.header__upper-part__logo {
    font-size: 20px;
    margin-left: 13px;
    color:white;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.button__upper-part__button {
    color:white;
    font-size: 14px;
    width: 91px;
    height: 36px;
    border-radius: 50px;
    
}

.button__upper-part__button_sign-up {
    border: 2px solid white;
}

.header__main {
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.header__main_title {
    text-transform: uppercase;
    font-size: 52px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
}

.header__main_text {
    font-size: 24px;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.header__main_button {
    font-size: 14px;
    background-color: #ff4e50;
    padding: 15px 25px;
    font-weight: 700;
}

.main__block {
    margin-top: 100px;
    max-width: 100%;
}

.main__block_h3 {
    text-align: center;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.main__block__cards {
    display: flex;
    justify-content: space-between;
}

.main__block__cards__card_step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    /*max-width:100%;
    max-height: auto; */
}

.step1 {
    background: url("img/step1.png");
}
.step2 {
    background: url("img/step2.png");
}
.step3 {
    background: url("img/step3.png");
}

.main__block__cards__card__step-name,
.main__block__cards__card_h4,
.main__block__cards__card_text {
    margin: 0 0 20px 20px;
    max-width:250px;
}

.main__block__cards__card_text {
    padding-right: 15px;
    font-size: 14px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.main__block__cards__card_h4 {
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.main__block__cards__card__step-name {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    background-color:#ff4e50;
    border-radius: 50px;
    width: 70px;
    text-align: center;
    padding: 6px 0;
}

.main__block_partner {
    text-align: center;
}

.main__block_h3 {
    margin-bottom: 34px;
}

.main__block__cards_people {
    width: 220px;
}

.main__block__cards-avatar {
    margin-bottom: 20px;
}

.main__block__cards_name {
    margin-bottom: 16px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight:700;
}

.main__block__cards_text {
    font-size: 12px;
    color: #666666;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.main__block__cards__button_partner {
    margin-top: 40px;
    color: #ff4e50;
    font-size: 14px;
    width: 190px;
    height:40px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #ff4e50;
}

.main__block__discover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__block__card_discover {
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 100%;
    /*position: relative;*/
}

.discover1 {
    width: 300px;
    height:310px;
    background-image: url("img/Sport.png");
}

.discover2 {
    width: 300px;
    height:310px;
    background-image: url("img/Wellnes.png");
}

.discover3 {
    width: 300px;
    height:310px;
    background-image: url("img/Extreme.png");
}

.discover4 {
    width: 300px;
    height:310px;
    background-image: url("img/Games.png");
}

.discover5 {
    width: 620px;
    height:310px;
    background-image: url("img/Culture.png");
}

.discover6 {
    width: 620px;
    height:310px;
    background-image: url("img/relax.png");
}

.discover7 {
    width: 300px;
    height:310px;
    background-image: url("img/Travelling.png");
}
/*
.main__block__card_discover__image {
    height: 310px;
}
*/
.main__block__card_h4 {
    /*position: absolute;
    top: 40%;
    left: 25%;*/
    font-size: 22px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.main__block_discover-form {
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
}

.main__block_discover-form_text {
    margin-bottom: 42px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.main__block_form-text {
    width: 240px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #666666;
    padding-left: 17px; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #666666;
    
}

.main__block_form-button {
    margin-left: 10px;
    border-radius: 50px;
    background-color:#ff4e50;
    padding: 12px 35px;
    color: white;
    font-size: 14px;

}

.footer {
    display: flex;
    flex-direction: row;
    margin-top:40px;
    justify-content: space-between;
}

footer{
    width: 100%;
}

.footer__logo {
    margin-left: 13px;
    font-size: 16px;
    color:#ff4e50;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;

}

.footer__list-item {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

.footer__container_name {
    margin-bottom: 18px;
    font-size: 14px;
}

.footer__container_name,
.footer__list-item {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.footer__areto {
    margin-right: 13px;
}

hr {
    border: none; /* Убираем границу */
    background-color: #ff4e50; /* Цвет линии */
    color: #ff4e50; /* Цвет линии для IE6-7 */
    height: 3px; /* Толщина линии */
}

@media screen and (max-width: 768px) {
    /*.main__block__cards__card_text {
        width: 100px;
    }*/
    .main__block__cards__card_step {
        width: 236px;
    }

    .main__block__cards-dreamshare {
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
    }

    .main__block__cards-peoples {
        display: flex;
        padding: 0 55px;
        flex-flow: row wrap;
        justify-content: center;
    }

    .main__block__discover {
        padding: 0 10px;
    }

    .main__block__card_discover {
        width: 32%;
        margin-bottom: 15px;
    }

    .main__block__card_discover:nth-child(5),
    .main__block__card_discover:nth-child(6) {
        width: 66%;
    }

    .main__block__card_discover__image {
        max-width: 100%;
    }

    .main__block_form-button {
        margin-left: 0;
    }

    .footer__container {
        justify-content: space-around;
    }

}

@media screen and (max-width: 480px) {
    .header__content,
    .main__block,
    .footer {
        max-width: 300px;
    }

    .header {
        height:540px;
    }

    .header__upper-part{
        padding-top: 20px;
        margin-bottom: 40px;
        flex-flow: column;
        text-align: center;
    }

    .header__upper-part > .header__upper-part__logo {
        order: 2;
    }

    .header__upper-part__logo {
        margin-top: 120px;
    }

    .header__main_title {
        font-size: 30px;
    }

    .header__main_text {
        text-align: center;
    }

    .main__block {
        margin: 0 auto;
        margin-top: 40px;
    }

    .main__block_h3 {
        margin-bottom: 18px;
        font-size: 22px;
        font-family: "Montserrat", sans-serif;
        font: weight 700px;
    }

    .main__block__cards-dreamshare {
        flex-direction: column;
        width:300px;
    }

    .main__block__cards__card_step {
        width: 100%;
        height: 240px;
        margin-top: 10px;
    }

    .main__block__cards_people {
        margin-bottom: 30px;
    }

    .main__block__cards__button_partner {
        margin-top: 30px;
    }

    .main__block__discover {
        flex-flow: column nowrap;
    }

    .main__block__card_discover {
        height: 120px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .main__block__card_discover:nth-child(5),
    .main__block__card_discover:nth-child(6) {
        height: 120px;
        width: 100%;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .main__block_discover-form_text {
        margin-bottom: 15px;
    }

    .main__block_discover-form {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .main__block_form-button {
        margin-top: 10px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer__logo {
        margin: 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__list {
        display: flex;
        flex-direction: row;
    }

    .footer__list-item {
        margin: 0 7px;
    }

    .footer__container_name {
        font-size: 14px;
        margin: 20px 0 10px 0;
    }

    .footer__areto {
        margin: 20px 0;
    }
    
}